<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <p>alo</p>
    <a th:href="@{'/viajes/pasajero/'+${user.id}}">Viajes</a>
    <a th:href="@{'/viajes/viajar/'+${user.id}}">Viajar</a>
</head>
<body>

</body>
</html>