<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<p>
    <meta charset="UTF-8">
    <title>Hello</title>
    <p>Hola <td th:text="${usuario.username}"></td>!</p>
    <a th:href="@{'/viajes/pasajero/'+${usuario.id}}">Viajes</a>
    <a th:href="@{'/viajes/viajar/'+${usuario.id}}">Viajar</a>
</head>
<body>
</body>
</html>