<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Todos los Libros</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Conductor</th>
        <th>Fecha Inicio</th>
        <th>Fecha Término</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="viaje : ${viajes}">
        <td th:text="${viaje.conductor}"></td>
        <td th:text="${viaje.destino}"></td>
        <td th:text="${viaje.startDate}"></td>
        <td th:text="${viaje.endDate}"></td>
        <td><a href="#"
               th:href="@{'/viaje/edit/'+${viaje.id}}">
            <button>Editar</button>
        </a></td>
        <td><a href="#"
               th:href="@{'/viaje/delete/'+${viaje.id}}">
            <button>Eliminar</button>
        </a></td>
    </tr>

    </tbody>
</table>

</body>
</html>